{% extends 'base.html' %}

{% block title %}
    <title>{{ user.first_name }} | Ton profil </title>
{% endblock %}

{% block content %}

    <h1>Hello on {{ user.first_name }} {{ user.last_name }} profile !</h1>
    <h2>Suivi de tes rendez-vous</h2>

    {% for meeting in meetings %}
        <div class="meeting">
            <img src="{{ user.profile_image }}" alt="profile picture" />
            <p>Le {{ meeting.meeting_date|date:'d/m/Y' }} à {{ meeting.meeting_date|date:'H:i' }}</p>
            <p>avec {{ meeting.dev.user.first_name }}</p>
            <p>statut : {{ meeting.status }}</p>
            <p>Message : {{ meeting.message }} </p>
        </div>
    {% endfor %}

{% endblock %}