{% extends 'base.html' %}

{% block title %}
    <title>{{ user.first_name }} | Ton profil </title>
{% endblock %}

{% block content %}

    <h1>Hello on {{ user.first_name }} {{ user.last_name }} profile !</h1>
    <h2>Suivi de tes rendez-vous</h2>


    <h2>Rendez-vous en attente de validation</h2>
    {% for meeting in meetings %}
        {% if meeting.status == 'pending' %}
        <div class="meeting">
            <img src="{{ user.profile_image }}" alt="profile picture" />
            <p>Le {{ meeting.meeting_date|date:'d/m/Y' }} à {{ meeting.meeting_date|date:'H:i' }}</p>
            <p>avec {{ meeting.dev.user.first_name }}</p>
            <p>statut : {{ meeting.status }}</p>
            <h4>Discution</h4>
            {% for message in meeting.messages_set.all %}
                <p>{{ message.content }}</p>
            {% endfor %}

            <form method="POST" action="{% url 'meetingsmanager:delete' meeting_pk=meeting.pk %}">
                {% csrf_token %}
                <input type="hidden" name="meeting_id" value="meeting.pk" />
                <button type="submit">Annuler cette demande</button>
            </form>
        </div>
        {% endif %}
    {% endfor %}

    <h2>Rendez-vous confirmés</h2>
    {% for meeting in meetings %}
        {% if meeting.status == 'accepted' %}
        <div class="meeting">
            <img src="{{ user.profile_image }}" alt="profile picture" />
            <p>Le {{ meeting.meeting_date|date:'d/m/Y' }} à {{ meeting.meeting_date|date:'H:i' }}</p>
            <p>avec {{ meeting.dev.user.first_name }}</p>
            <p>statut : {{ meeting.status }}</p>
            <p>Message : {{ meeting.message }} </p>
        </div>
        {% endif %}
    {% endfor %}

    <h2>Rendez-vous refusés</h2>
    {% for meeting in meetings %}
        {% if meeting.status == 'declined' %}
        <div class="meeting">
            <img src="{{ user.profile_image }}" alt="profile picture" />
            <p>Le {{ meeting.meeting_date|date:'d/m/Y' }} à {{ meeting.meeting_date|date:'H:i' }}</p>
            <p>avec {{ meeting.dev.user.first_name }}</p>
            <p>statut : {{ meeting.status }}</p>
            <p>Message : {{ meeting.message }} </p>
        </div>
        {% endif %}
    {% endfor %}
    

{% endblock %}