{% extends 'base.html' %}

{% block title %}
    <title>Crée ton profil</title>
{% endblock %}

{% block content %}
    {% if current_user.username == username %}
        <h1>Pour que les entreprises puissent voir ton profil, une dernière étape est nécessaire !</h1>

        <form method="POST" action="{% url 'profilemanager:create' username=current_user.username %}">
            {% csrf_token %}
            <h3>Laisse les entreprises en apprendre d'avantage sur toi en te présentant brievement</h3>
            {{ form.as_p }}
            <button type="submit">Valider et completer mes stacks</button>
        </form>
    {% endif %}
    {% include "footer.html" %}
{% endblock %}
