{% extends 'base.html' %}

{% block title %}
    {% comment %}Si l'utilisateur courant est le même que l'utilisateur du profil, on affiche "Ton profil", sinon on affiche la profession de l'utilisateur{% endcomment %}
    {% if current_user == user %}
        <title>{{ user.first_name }} | Ton profil </title>
    {% else %}
        <title>{{ user.first_name }} | Dev {{ profile.job }}</title>
    {% endif %}
{% endblock %}

{% block content %}
    {% comment %}Lien vers la page des rendez-vous de l'utilisateur{% endcomment %}
    <p><a href="{% url 'profilemanager:dev-meetings' slug=slug pk=pk %}">Mes RDV</a></p>

<h1>Hello on {{ user.first_name }} {{ user.last_name }} profile !</h1>
{% comment %}Information de base de l'utilisateur : photo de profil, email, numéro de téléphone{% endcomment %}
<header class="profile__info-user">
    <p><img src="{{ user.profile_image }}" alt="Photo de {{ user.first_name }} {{ user.last_name }}" /></p>

    {% if current_user.pk == pk and current_user.slug == slug %}
        <p><a href="{% url 'accounts:update_profile_picture' slug=current_user.slug pk=current_user.pk %}">Modifier photo de profil</a></p>
    {% endif %}

    <h3>Développeu.r.se {{ user.profile.job }}</h3>
    <p>email : {{ user.email }}</p>

    {% if user.phone_number %}
    <div id="phone_number">

        {% if user.phone_display %}
            <div class="phone_number_management">
                <p>Tel : {{ user.phone_number }}</p>

            {% if current_user.pk == pk and current_user.slug == slug %}
                <form method="POST" action="{% url 'accounts:update_profile_info' slug=current_user.slug pk=current_user.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="phone_number" value="{{ user.phone_number }}" />
                    <input type="hidden" name="phone_display" id="id_phone_display" value="{{ not_phone_display }}" />
                    <button type="submit">Masquer le numéro</button>
                </form>

            </div>

            <form hx-post="{% url 'accounts:update_profile_info' slug=current_user.slug pk=current_user.pk %}" hx-target="#phone_number">
                {% csrf_token %}
                <input type="text" name="phone_number" id="id_phone_number" value="{{ user.phone_number }}" />
                {% if profile_form.phone_number.errors %}
                    <p>{{ profile_form.phone_number.errors }}</p>
                {% endif %}
                <button type="submit">Enregistrer</button>
            </form>
            {% endif %}

        {% elif current_user.pk == pk and current_user.slug == slug %}
            <form method="POST" action="{% url 'accounts:update_profile_info' slug=current_user.slug pk=current_user.pk %}">
                {% csrf_token %}
                <input type="hidden" name="phone_number" value="{{ user.phone_number }}" />
                <input type="hidden" name="phone_display" id="id_phone_display" value="{{ not_phone_display }}" />
                <button type="submit">Afficher le numéro</button>
            </form>

        {% endif %}

    </div>
    {% endif %}

{% comment %}Si l'utilisateur courant est une entreprise, on affiche un lien pour contacter l'utilisateur{% endcomment %}
    {% if current_user.category == 'company' %}
        <p><a href="#contact-{{ user.username }}">Contacter</a></p>
    {% endif %}
</header>

{% comment %}Section pour la description de l'utilisateur et ses stacks si l'utilisateur est un développeur{% endcomment %}
{% if dev %}
    <section class="profile__info">
        <h2>{{ user.first_name }}, sa vie et ses passions</h2>
        {% if current_user.pk == pk and current_user.slug == slug %}
            <p><a href="{% url 'profilemanager:update' slug=slug pk=profile.pk %}">Modifier</a></p>
        {% endif %}
        <p class="user-description">
            {{ profile.description }}
        </p>
    </section>

    <section class="profile__stacks">
        <h2>Ses stacks</h2>

        {% if current_user.pk == pk and current_user.slug == slug %}
            <form hx-post="{% url 'profilemanager:stack-create' %}" hx-target="#stacks-target" hx-swap="beforeend">
                {% csrf_token %}
                {{ stack_form.as_p }}
                <button type="submit">Ajouter une stack</button>
            </form>
        {% endif %}

        <ul id="stacks-target">
            {% for stack in stacks %}
                <li id="stack{{ stack.pk }}" class="stack">
                    {{ stack }}
                    {% if current_user.pk == pk and current_user.slug == slug %}
                    <form hx-post="{% url 'profilemanager:stack-update' pk=stack.pk slug=slug %}" hx-target="#stack{{ stack.pk }}">
                        {% csrf_token %}
                        <input type="text" name="name" value="{{ stack.name }}">
                        <input type="hidden" name="stack_id" value="{{ stack.pk }}">
                        <button type="submit">Modifier</button>
                    </form>
                    <form hx-post="{% url 'profilemanager:stack-delete' pk=stack.pk slug=slug %}" hx-target="#stack{{ stack.pk }}">
                        {% csrf_token %}
                        <input type="hidden" name="stack_id" value="{{ stack.pk }}">
                        <button type="submit">Supprimer</button>
                    </form>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}

 {% comment %}Section pour les projets de l'utilisateur{% endcomment %}
    <section class="profile__projects">
        <h2>Ses projets</h2>
        {% if current_user.pk == pk and current_user.slug == slug %}
            <form method="POST" action="{% url 'profilemanager:project-create' %}">
                {% csrf_token %}
                {{ project_form.as_p }}
                <button type="submit">Ajouter un projet</button>
            </form>
        {% endif %}

        {% for project in projects %}

            <div class="project">
                <h3>
                    {{ project.name }}
                    {% if current_user.pk == pk and current_user.slug == slug %}
                    <p><a href="{% url 'profilemanager:project-update' pk=project.pk slug=slug %}">Modifier</a></p>
                    <form method="POST" action="{% url 'profilemanager:project-delete' pk=project.pk slug=slug  %}">
                        {% csrf_token %}
                        <input type="hidden" name="project_id" value="{{ project.pk }}">
                        <button type="submit">Supprimer</button>
                    </form>
                    {% endif %}
                </h3>
                <p>Description du projet : {{ project.description }}</p>
                <p class="{% if not project.link %}hidden{% endif %}">Lien : <a href="{{ project.link }}" target="_blank">{{ project.link }}</a></p>
{#                <p>Stacks :#}
{#                    {% for stack in project.used_stacks.all %}#}
{#                        {{ stack.name }} {% if not forloop.last %}, {% endif %}#}
{#                    {% endfor %}#}
{#                </p>#}
            </div>

        {% endfor %}
    </section>

     {% comment %}Section pour contacter l'utilisateur si l'utilisateur courant est une entreprise{% endcomment %}
    {% if current_user.category == 'company' %}
    <section id="contact-{{ user.username }}">
        <form method="POST" action="{% url 'meetingsmanager:create' company_pk=current_user.company.pk dev_pk=user.profile.pk %}">
            {% csrf_token %}
            {{ meeting_form.as_p }}
            <button type="submit">Envoyer</button>
        </form>
{#        <p><a href="{% url 'meetingsmanager:test' %}">Contacter</a></p>#}
    </section>
    {% endif %}
{% endblock %}