<p>Hello {{ user.first_name|title }} !</p>

<p>Nous sommes heureux de te compter parmis les membres de DevForFree !</p>

<p>Si tu t'es inscrit.e, c'est que tu souhaites développer tes compétences de développeur.se auprès de clients qui ont à coeur de te donner la chance d'exprimer tout ton potentiel.</p>

<p>En effet, DevForFree va te permettre de mettre en avant une véritable expérience professionnelle auprès de tes futurs recruteurs. Si tu veux en savoir plus sur la plateforme, n'hésites pas à faire un tour sur https://www.devforfree.com/aboutus.</p>

<p>Avant toute chose, nous devons nous assurer que tu es bien en mesure de répondre aux exigences des clients. Pour cela, je vais te donner ta première mission en tant que développeur.se :</p>
<br />
<br />
<strong>Objectif Back-end :</strong>
<ul>
    <li>Réalise, en local, un blog permettant de lire, ajouter, modifier, et supprimer des articles.</li>
    <li>Chaque article doit avoir un titre, un contenu, et un auteur.</li>
    <li>Si tu le souhaites, tu peux également ajouter un système de connexion. En effet, aujourd'hui, peu de sites fonctionnent sans cela.</li>
    <li>Utilises le framework et le langage de ton choix. Idem pour la DB, tu peux rester sur SQLite si tu le souhaite.</li>
</ul>
<br />
<strong>Objectif front-end :</strong>
<ul>
    <li>Tu n'es pas obligé.e de me présenter un site esthétique, l'objectif est qu'il fonctionne. Cependant, c'est toujours plus agréable de faire une démo sur un site avec un front légèrement travaillé.</li>
</ul>
<br />
<br />

<strong>Le débrief :</strong>

<p>Lorsque ton application sera fonctionnelle en local (prends le temps qu'il te faut), envoie moi un mail à l'adresse suivante, avec 3 créneaux sur lesquels tu es disponible (compte 30min à 1h) :
    <a href="mailto:arnaud.rigourd@gmail.com">arnaud.rigourd@gmail.com</a>.
Nous conviendrons alors d'une date de RDV pour débriefer. Concrètement, je te demanderai de me faire la démo de l'application en partage d'écran. Je ne te demande donc pas de mettre en production, mais garde en tête que tu devras être en mesure de le faire pour tes futurs clients.</p>

<p>Enfin, si tout cela te semble très compliqué, ne t'en fait pas, c'est normal. Fais ce que tu peux, et nous débrieferons ensemble.</p>

<p>Il ne me reste plus qu'à te souhaiter bonne chance !</p>

<p>À bientôt.</p>

<p>Arnaud</p>
