{% extends 'base.html' %}

{% block title %}
    <title>Trouve un développeur gratuitement !</title>
{% endblock %}

{% block content %}

<header id="header">
    <h1 class="main-title">Ton projet n'a pas de prix !<br />
        Ton site non plus
    </h1>
    <div id='btnContainer' class="btn-container">
        <div class="trace"></div>
        <div class="trace"></div>
        <div class="trace"></div>
        <div class="trace"></div>
        <div class="trace"></div>
        <p id='headerBtn' class="btn"><a href="{% url 'profilemanager:index' %}">Trouve un développeur</a></p>
    </div>
    <div class="header__arrows">
        <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path d="M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/>
        </svg>
        <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path d="M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/>
        </svg>
    </div>
</header>
    
<main>
    {% if current_user.is_authenticated %}
        <h1>Bienvenue {{ current_user.first_name }}</h1>
    {% else %}
        <h1>Bienvenue sur Dev For Free !</h1>
    {% endif %}

    <section class="faq">
        <h2>On te crée ton site gratuitement</h2>
        {% for faq in faq_clients %}
        <div class="faq__QA">
            <div class="faq__question">
                <h3>{{ faq.question }}</h3>
            </div>
            <div class="faq__answer">
                <p>{{ faq.answer }}</p>
            </div>
        </div>
        {% endfor %}
    </section>

    <section class="faq">
        <h2>Ce site est fait pour toi, jeune développeur</h2>
        {% for faq in faq_devs %}
        <div class="faq__QA">
            <div class="faq__question">
                <h3>{{ faq.question }}</h3>
            </div>
            <div class="faq__answer">
                <p>{{ faq.answer }}</p>
            </div>
        </div>
        {% endfor %}
    </section>
</main>

{% endblock %}