@import url('../keyframes.css');
@import '../utils/colors';
@import '../utils/mixins';
@import '../utils/fonts';

#lp-video {
  position: absolute;
  filter: saturate(0.5) brightness(0.7);
  height: 100vh;
  left: 50%;
  object-fit: cover;
  overflow: hidden;
  top: 50%;
  transform: translate3d(-50%, -50%, -5px) scale(1.5);
  transform-style: preserve-3d;
  width: 100vw;
  z-index: -1;
}

#header {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin-bottom: 50px;
  padding: 80px;
  transform: translateZ(-5px) scale(1.5);
  transform-style: preserve-3d;
  z-index: -1;

  .container-main-title {
    margin: 15vh auto;
  }

  .main-title, .sub-title {
    color: $lighter;
    font-family: "clash display", "sans-serif";
    letter-spacing: 0.4vh;
    text-align: center;
    text-shadow: 0 0 30px black;
  }

  .main-title {
    font-size: 6.3vw;
    letter-spacing: 0.4vh;
  }
}

.btnContainer {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: fit-content;

  &:hover > .header-btn {
    @include hoverEffect;
  }

  .header-btn {
    background-color: $lighter;
    border: 3px solid $darker;
    height: 50px;
    padding: 8px;
    text-align: center;
    transition: transform 300ms;
    width: 450px;
    z-index: 1;

    &__content {
      color: $darker;
    }

    &:visited {
      color: $darker;
    }

    &:active {
      transform: translate(0, 0);
      background-color: $mediumLight;
    }
  }

  .trace {
    position: absolute;
    background-color: $darker;
    border-radius: 3px;
    height: 100%;
    opacity: 0;
    width: 100%;
    z-index: 0;

    &:nth-child(2) {
      translate: 1px -1px;
    }

    &:nth-child(3) {
      translate: 2px -2px;
    }

    &:nth-child(4) {
      translate: 3px -3px;
    }

    &:nth-child(5) {
      translate: 4px -4px;
    }
  }
}

.header__arrows {
  display: flex;
  flex-direction: column;
  height: 4.5vh;
  margin: 0 auto;
  width: 3vh;

  .arrow {
    position: absolute;
    bottom: 0;
    filter: brightness(0) saturate(100%) invert(9%) sepia(15%) saturate(304%) hue-rotate(330deg) brightness(99%) contrast(89%);;
    opacity: 0.8;
    width: 3vh;
    z-index: 1;

    &:first-child {
      animation: breathe 2s infinite;
      bottom: 14px;
    }

    &:last-child {
      animation: breathe 2s 300ms infinite;
    }
  }
}


// Parallax

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
  scroll-behavior: smooth;
  width: 100vw;
}

