@import '../utils/colors';
@import '../utils/fonts';


.main-parallax {
  margin: 0;

  &__container {
    width: 100vw;
  }

  h1 {
    margin-top: 25px;
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  .suscribe {
    position: relative;
    padding-top: 40px;
    padding-bottom: 80px;
    background-color: $mediumLightOpacity;

    h2 {
      margin: 25px auto;
    }

    .header-btn {
      transition: transform 300ms, box-shadow 300ms;

      &:hover {
        box-shadow: none;
      }
    }
  }
}

.titles {
  h1 {
    font-family: $mainTitle;
    font-size: 42px;
  }

  h2, h3 {
    text-align: center;
  }
}

.faq {
  margin: 40px 0;
  padding: 15px 30px;

  &:nth-child(2n) {
    background-color: $mediumLightOpacity;
    padding: 40px 0;
  }

  &__QA {
    margin: 15px auto;
    width: 55vw;
    max-width: 800px;
    border: 1px $darker solid;
    border-radius: 5px;
    padding: 15px 30px;
    background-color: $lighter;
    height: 60px;
    overflow: hidden;
    transition: height 500ms ease, background-color 500ms ease;

    &:hover {
      background-color: $mediumLight;
      cursor: pointer;
    }

    &--question {
      margin-bottom: 15px;
    }

  }

  h2 {
    margin: 15px 0;
    font-family: $mainTitle;
  }
}

.draw-illustration {
  display: block;
  margin: 0 auto;
}
