@import '../utils/colors';


.main-parallax {
  padding-bottom: 80px;

  &__container {
    width: 80vw;
  }

  h1 {
    margin-top: 25px;
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  .suscribe {
    position: relative;

    h2 {
      margin: 25px auto;
    }

    .header-btn {
      transition: transform 300ms, box-shadow 300ms;

      &:hover {
        box-shadow: none;
      }
    }
  }
}

.faq {
  margin: 40px 0;
  padding: 15px 30px;

  &__QA {
    margin: 15px auto;
    border: 1px $darker solid;
    border-radius: 5px;
    padding: 15px 30px;
    background-color: $lighter;
    height: 60px;
    overflow: hidden;
    transition: height 500ms ease, background-color 500ms ease;

    &:hover {
      background-color: $mediumLight;
      cursor: pointer;
    }

    &--question {
      margin-bottom: 15px;
    }

  }

  h2 {
    margin: 15px 0;
  }
}

