{% extends 'base.html' %}

{% block title %}
<title>Password reset</title>
{% endblock %}

{% block content %}
<main class="main-log flex-center">
    <section class="section-form-log flex-center">
<h2>Réinitialiser mon mot de passe</h2>
  <p>Saisissez votre adresse électronique ci-dessous et nous vous enverrons des instructions pour réinitialiser votre mot de passe.</p>
        <div class="form-fields">
  <form class="form-log" method="post">
    {% csrf_token %}
      <div class="input-form">
          {% for field in form %}
              <span>{{ field.label_tag }}</span>
            <p>{{ field }}</p>
          {% endfor %}
      </div>
    <button class="log-btn" type="submit">Réinitialiser</button>
  </form>

        </div>

    </section>
</main>

{% endblock %}
