{% extends 'base.html' %}

{% block head %}
<meta http-equiv="refresh" content="5; {% url 'accounts:signin' %}">
{% endblock %}

{% block title %}
<title>Password reset</title>
{% endblock %}

{% block content %}

    <main class="main-log flex-center">
    <section class="section-form-log flex-center">
<h2>Mot de passe réinitialisé !</h2>
        <div class="form-fields">
<p>Votre mot de passe a correctement été modifié</p>
<p>Vous allez être redirigé vers la page de connexion dans quelques secondes. Si ce n'est pas le cas, vous pouvez cliquer directement sur le lien ci-dessous</p>
<div class="login-side-links">
            <p><a href="{% url 'accounts:signin' %}">log in</a>.</p>
</div>
        </div>
    </section>
    </main>

{% endblock %}
