{% extends 'base.html' %}

{% block title %}
<title>Password reset</title>
{% endblock %}

{% block content %}

    <main class="main-log flex-center">
    <section class="section-form-log flex-center">

<h1>Saisissez votre nouveau mot de passe</h1>
        <div class="form-fields">
<form class="form-log" method="post">
  {% csrf_token %}
<div class="input-form">
    {% for field in form %}
        <span>{{ field.label }}</span>
        <p>{{ field }}</p>
        <span class="errors-messages">{{ field.errors }}</span>
    {% endfor %}
</div>
{#  {{ form.as_p }}#}
  <button class="log-btn" type="submit">Valider</button>
</form>
        </div>
    </section>
    </main>

{% endblock %}