{% extends 'base.html' %}

{% block title %}
<title>Inscription</title>
{% endblock %}

{% block script %}
<script></script>
{% endblock %}

{% block content %}

    <main class="main-log main-signup flex-center">
    <section class="section-form-log flex-center">
        <h1>Inscription</h1>

        <div class="form-fields">
            <form class="form-log" method="POST" action="{% url 'accounts:signup' %}">
                {% csrf_token %}
                <div class="input-form">
                    {% for field in form %}
                        {% if field.name == 'category' %}
                            <span>Tu es (choisis dans la liste) :</span>
                        {% endif %}
                        <p>{{ field }}</p>
                        <span class="errors-messages">{{ field.errors }}</span>
                    {% endfor %}
                </div>
                <button class="log-btn" type="submit">Valider</button>
            </form>
            <div class="login-side-links">
                <p><a href="{% url 'interfacemanager:home' %}">Retour à l'accueil</a></p>
            </div>
        </div>
    </section>
    </main>
{% endblock %}
