{% extends 'base.html' %}

{% block title %}
<title>Sign up</title>
{% endblock %}

{% block script %}
<script></script>
{% endblock %}

{% block content %}
<h1>Sign up</h1>

<form method="POST" action="{% url 'accounts:signup' %}">
    {% csrf_token %}
    <table>
        {% for field in form %}
        <tr>
            <td>{{ field.label_tag }}</td>
            <td>{{ field }}</td>
            <td>{{ field.errors }}</td>
        </tr>
        {% endfor %}
    </table>
    <button type="submit">Valider</button>
</form>

<p><a href="{% url 'interfacemanager:home' %}">Back home</a></p>

{% endblock %}
