{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link href="https://api.fontshare.com/v2/css?f[]=ranade@300&f[]=excon@500&display=swap" rel="stylesheet">
    <link href="https://api.fontshare.com/v2/css?f[]=clash-display@200,400,700,500,600,300&display=swap" rel="stylesheet">
{#    <link rel="preconnect" href="https://fonts.googleapis.com">#}
{#    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>#}
{#    <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap" rel="stylesheet">#}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <meta name="viewport" content="width=device-width" />
    {% if request.resolver_match.url_name == 'first-stack-create' %}
        <script src="{% static 'js/tagify.min.js' %}" defer></script>
        <script src="{% static 'js/first_stacks.js' %}" defer></script>
    {% endif %}
    <script src="{% static 'js/index.js' %}" defer></script>
    <script src="{% static 'js/htmx.min.js' %}" defer></script>

    {% block head %}
    {% endblock %}
    
    {% block title %}
    {% endblock %}
</head>
<body>

<nav>
    <p><a href="{% url 'interfacemanager:home' %}">Accueil</a></p>
    <ul>
        <li><a href="{% url 'profilemanager:index' %}">Liste des développeurs.euses</a></li>
        {% if current_user.is_authenticated %}
            {% if current_user.category == 'company' %}
                <li><a href="{% url 'profilemanager:company-monitoring' slug=current_user.slug pk=current_user.pk %}">Mon profil</a></li>
            {% endif %}

            {% if current_user and current_user.profile %}
                <li><a href="{% url 'profilemanager:detail' slug=current_user.slug pk=current_user.pk %}">Mon profil</a></li>
           {% elif not current_user.profile and current_user.category == 'developpeur' %}
                <li><a href="{% url 'profilemanager:create' username=current_user.username %}">Créer mon profile</a></li>
            {% endif %}
            <li><a href="{% url 'accounts:signout' %}">Se déconnecter</a></li>
        {% else %}
            <li><a href="{% url 'accounts:signin' %}">Se connecter</a></li>
            <li><a href="{% url 'accounts:signup' %}">S'inscrire</a></li>
        {% endif %}
    </ul>
</nav>

{% block content %}
{% endblock %}

</body>
</html>
