{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link href="https://api.fontshare.com/v2/css?f[]=ranade@300&f[]=excon@500&display=swap" rel="stylesheet">
    <link href="https://api.fontshare.com/v2/css?f[]=clash-display@200,400,700,500,600,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <meta name="viewport" content="width=device-width" />
    {% if request.resolver_match.url_name == 'first-stack-create' %}
        <script src="{% static 'js/tagify.min.js' %}" defer></script>
        <script src="{% static 'js/first_stacks.js' %}" defer></script>
    {% endif %}
    <script src="{% static 'js/index.js' %}" defer></script>
    <script src="{% static 'js/htmx.min.js' %}" defer></script>

    {% block head %}
    {% endblock %}
    
    {% block title %}
    {% endblock %}
</head>
<body>

<nav id="navbar">
    <div class="navbar__hover-container">
        <span class="dummy">---DevForFree---</span>
        <a class="double" href="{% url 'interfacemanager:home' %}">DevForFree</a>
        <a class="original" href="{% url 'interfacemanager:home' %}">DevForFree</a>
    </div>
    <ul>
        <li>
            <div class="navbar__hover-container">
                <span class="dummy">---Liste des devs---</span>
                <a class="double" href="{% url 'profilemanager:index' %}">Liste des devs</a>
                <a class="original" href="{% url 'profilemanager:index' %}">Liste des devs</a>
            </div>
        </li>
        {% if current_user.is_authenticated %}
            {% if current_user.category == 'company' %}
                <li>
                    <div class="navbar__hover-container">
                        <span class="dummy">---Mon profil---</span>
                        <a class="double" href="{% url 'profilemanager:company-monitoring' slug=current_user.slug pk=current_user.pk %}">Mon profil</a>
                        <a class="original" href="{% url 'profilemanager:company-monitoring' slug=current_user.slug pk=current_user.pk %}">Mon profil</a>
                    </div>
                </li>
            {% endif %}

            {% if current_user and current_user.profile %}
                <li>
                    <div class="navbar__hover-container">
                        <span class="dummy">---Mon profil---</span>
                        <a class="double" href="{% url 'profilemanager:detail' slug=current_user.slug pk=current_user.pk %}">Mon profil</a>
                        <a class="original" href="{% url 'profilemanager:detail' slug=current_user.slug pk=current_user.pk %}">Mon profil</a>
                    </div>
                </li>
           {% elif not current_user.profile and current_user.category == 'developpeur' %}
                <li>
                    <div class="navbar__hover-container">
                        <span class="dummy">---Créer mon profile---</span>
                        <span class="double">Créer mon profile</span>
                        <a class="original" href="{% url 'profilemanager:create' username=current_user.username %}">Créer mon profile</a>
                    </div>
                </li>

            {% endif %}

            <li>
                <div class="navbar__hover-container">
                    <span class="dummy">-----Se déconnecter-----</span>
                    <a class="double" href="{% url 'accounts:signout' %}">Se déconnecter</a>
                    <a class="original" href="{% url 'accounts:signout' %}">Se déconnecter</a>
                </div>
            </li>
        {% else %}
            <li>
                <div class="navbar__hover-container">
                    <span class="dummy">---Se connecter---</span>
                    <a class="double" href="{% url 'accounts:signin' %}">Se connecter</a>
                    <a class="original" href="{% url 'accounts:signin' %}">Se connecter</a>
                </div>
            </li>
            <li>
                <div class="navbar__hover-container">
                    <span class="dummy">---S'inscrire---</span>
                    <a class="double" href="{% url 'accounts:signup' %}">S'inscrire</a>
                    <a class="original" href="{% url 'accounts:signup' %}">S'inscrire</a>
                </div>
            </li>
        {% endif %}
    </ul>
</nav>

{% block content %}
{% endblock %}

</body>
</html>
