<footer>
    <section class="body-footer">
        <div class="contact">
            <h4 class="footer-title">Besoin d'aide ?</h4>
            <p class="footer-pg">Nous contacter</p>
            <p class="footer-pg">Qui sommes-nous ?</p>
            <p class="footer-pg">Une proposition ? Nous vous écoutons</p>
        </div>
        <div class="account">
            <h4 class="footer-title">Mon compte</h4>
            <p class="footer-pg">Se connecter</p>
            <p class="footer-pg">S'inscrire</p>
            <p class="footer-pg">Mot de passe oublié</p>
        </div>
        <div class="CGU">
            <p class="footer-pg">Mentions légales</p>
            <p class="footer-pg">CGU</p>
        </div>
    </section>
    <section class="footer-footer">
        <p class="small">©2023 | DevForFree</p>
        <p class="small">Made with ❤️ by a passionate developer for passionate developers</p>
    </section>
</footer>