@import '../utils/colors';

footer {
  .body-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $mediumLight;
    padding: 30px;
    //border-top: 1px solid #C0C6ECFF;

    .footer-pg {
      font-size: 14px;
      margin: 4px 0;
    }

    .footer-title {
      margin-bottom: 10px;
    }
  }

  .footer-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: $darker;

    .small {
      color: $lighter;
      font-size: 10px;
    }
  }
}