@import '../utils/colors';


.main-parallax {
  &__container {
    width: 80vw;
  }

  h1 {
    margin-top: 25px;
    text-align: center;
  }

  h2 {
    text-align: center;
  }
}

.faq {
  margin: 40px 0;
  padding: 15px 30px;

  &__QA {
    margin: 15px auto;
    border: 2px $darker solid;
    border-radius: 5px;
    padding: 15px 30px;
    background-color: $lighter;
    height: 60px;
    overflow: hidden;
    transition: height 500ms ease, background-color 500ms ease;

    &:hover {
      background-color: $mediumLight;
      cursor: pointer;
    }

    &--question {
      margin-bottom: 12px;
    }

  }

  h2 {
    margin: 15px 0;
  }
}

