@import '../utils/colors';

nav {
  position: fixed;
  animation: fadeIn ease 3s forwards;
  background-color: #000000FF;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  padding: 25px 10px;
  top: 0;
  width: 100vw;
  z-index: 10;

  ul {
    display: flex;
    justify-content: space-evenly;
    min-width: 500px;
  }

  li,
  a {
      color: $lighter;
  }

  a:visited {
    color: $lighter;
  }
}