@import 'utils/fonts';
@import 'utils/colors';
@import 'keyframes';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	color: $customBlack;
}

body {
	background-color: $lighter;
}

a {
	text-decoration: none;
	font-family: $pg;

    &:visited {
        color: $darker;
    }
}


.flex {
	display: flex;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-column {
  	flex-direction: column;
}

.space-around {
  	justify-content: space-around;
}

.hidden {
	display: none;
}

.active {}

.fit-content-height {
	height: fit-content;
}

.fit-content-width {
	width: fit-content;
}

strong {
  	font-weight: normal;
}

em {
  	font-style: normal;
}

p {
  font-family: $pg;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $title;
}


.nav-bg {
	background-color: black;
}

