Bonjour {{ dev.user.first_name }},

Tu as reçu une demande de contact de la part de {{ company.user.first_name }} {{ company.user.last_name }} pour te proposer une mission. Félicitation !

Je t'invite à répondre sous 48h afin de montrer ton intérêt pour cette mission. Tu peux accepter, refuser, ou proposer une nouvelle date selon tes disponibilités.

Pour ce faire, tu dois simplement te connecter sur la plateforme https://www.DevForFree.fr, et te rendre dans l'onglet 'Mes RDV'.

Bonne chance et bon courage pour ta mission !

A bientôt,

L'équipe de DevForFree ✌🏽