{#{% extends 'base.html' %}#}
{##}
{#{% block title %}#}
{#    <title>Suivi de mes demandes</title>#}
{#{% endblock %}#}
{##}
{#{% block content %}#}
{##}
{#    <h1>Suivi de tes rendez-vous</h1>#}
{##}
{#    {% for meeting in meetings %}#}
{#        <div class="meeting">#}
{#            <p>Le {{ meeting.meeting_date|date('d/m/Y') }} à {{ meeting.meeting_date|date('H:i') }}</p>#}
{#            <p>avec {{ meeting.profile.user.first_name }}</p>#}
{#            <p>statut : {{ meeting.status }}</p>#}
{#        </div>#}
{#    {% endfor %}#}
{##}
{#{% endblock %}#}