$darker: #262322;
$mediumDark: #63372C;
$medium: #C97D60;
$mediumLight: #F1E4F3;
$lighter: #F2E5D7;



//@mixin mediumDark{
//  color: #63372C;
//}
//
//@mixin medium{
//  color: #C97D60;
//}
//
//@mixin mediumLight{
//  color: #F1E4F3;
//}
//
//@mixin lighter{
//  color: #F2E5D7;
//}