$black: black;
$customBlack: #1d1d1d;
$darker: #262322;
$mediumDark: #63372C;
$medium: #C97D60;
$mediumLight: #d4d8ec;
$lighter: #FFFBFF;

$mediumLightOpacity: #e8ebf78c;
$mediumGrey: #808D8E;

$formBorder: #e6e6e6;
